{% extends "layouts/inner.html" %}

{% block title %} My Store - Home {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<main id="main">
    <section class="inner-page">
        <div class="container">
            <p>
                Example inner page template
            </p>
        </div>
    </section>
    <div class="container">
        <h1>Form Validation with Flask</h1>
        <!-- <form method="POST" action="">
            <div>
                <label for="">
                    <p>Please enter the product ID</p>
                    <input class="form-control" type="number" placeholder="Product ID"
                        aria-label="default input example">
                </label>
            </div>
            <br>
            <div>
                <label for="">
                    <p>Enter the product name</p>
                    <input class="form-control" type="text" placeholder="Product Name"
                        aria-label="default input example">
                </label>
            </div>
            <br>
            <div>
                <label for="">
                    <p>Select the supplier ID</p>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Please Select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="1">4</option>
                        <option value="2">5</option>
                        <option value="3">6</option>
                        <option value="1">7</option>
                        <option value="2">8</option>
                        <option value="3">9</option>
                        <option value="1">10</option>
                        <option value="2">11</option>
                        <option value="3">12</option>
                        <option value="1">13</option>
                        <option value="2">14</option>
                        <option value="3">15</option>
                        <option value="1">16</option>
                        <option value="2">17</option>
                        <option value="3">18</option>
                        <option value="1">19</option>
                        <option value="2">20</option>
                        <option value="3">21</option>
                        <option value="1">22</option>
                        <option value="2">23</option>
                        <option value="3">24</option>
                        <option value="3">25</option>
                    </select>
                </label>
            </div>
            <br>
            <div>
                <label for="">
                    <p>Select product's category ID</p>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Please Select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="1">4</option>
                        <option value="2">5</option>
                        <option value="3">6</option>
                        <option value="1">7</option>
                        <option value="2">8</option>
                    </select>
                </label>
            </div>
            <br>
            <div>
                <label for="">
                    <p>Please enter the price of the products</p>
                    <input class="form-control" type="number" placeholder="Price" aria-label="default input example">
                </label>
            </div>
            <br>
        </form> -->


        <form class="row g-3 needs-validation was-validated" novalidate>
            <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Product ID</label>
                <input type="number" class="form-control" id="validationCustom01" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationCustom02" class="form-label">Product Name</label>
                <input type="text" class="form-control" id="validationCustom02" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationCustom02" class="form-label">Product Price</label>
                <input type="number" class="form-control" id="validationCustom02" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-3">
                <label for="validationCustom04" class="form-label">Supplier ID</label>
                <select class="form-select" id="validationCustom04" required>
                    <option selected disabled value>Please Select</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid supplier ID.
                </div>
            </div>

            <div class="col-md-3">
                <label for="validationCustom04" class="form-label">Category ID</label>
                <select class="form-select" id="validationCustom04" required>
                    <option selected disabled value>Please Select</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid supplier ID.
                </div>
            </div>

            <div class="col-12">
                <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
        </form>

</main><!-- End #main -->


{% endblock content %}