{% extends "layouts/inner.html" %}

{% block title %} My Store - Home {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Inner Page</li>
            </ol>
            <h2>Inner Page</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <p>
                Example inner page template
            </p>
        </div>
    </section>
    
    <div class="container">

    <form class="row g-3 needs-validation" novalidate action="{{ url_for('SupplierFormSubmit')}} " method="post">
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label" >Supplier ID</label>
            <input type="number" class="form-control" id="validationCustom01" name="SupplierID">
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Company Name</label>
            <input type="text" class="form-control" id="validationCustom02" name="CompanyName">
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                </ul>

            {% endif %}

        {% endwith %}
    </form>
</div>

</main><!-- End #main -->

{% endblock content %}